{{- if (eq (.Site.Params.comments | default false) false) -}}
    {{- if (eq
        (.Params.comments | default false) false)
    -}}
        <script
            src="https://giscus.app/client.js"
            data-repo="totallynotdavid/galaxia"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyNDU5MzcwNzQ="
            data-category="Comments"
            data-category-id="DIC_kwDODqizss4Cf7W2"
            data-mapping="title"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="top"
            data-theme="preferred_color_scheme"
            data-lang="es"
            data-loading="lazy"
            crossorigin="anonymous"
            async></script>
    {{- end -}}
{{- end -}}
