<div id="theme-switch-container" class="relative inline-block text-left">
    {{ partial "svgs/theme-icons.html" . }}
    <div>
        <button
            id="theme-switch-button"
            aria-haspopup="true"
            aria-expanded="true"
            aria-controls="theme-menu"
            class="flex items-center justify-center h-10">
            <div
                id="theme-icon"
                class="h-6 w-6 flex items-center justify-center">
            </div>
        </button>
    </div>

    <div
        id="theme-menu"
        class="hidden absolute right-0 z-50 mt-2 w-32 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800">
        <div class="p-1">
            <div class="">
                <button
                    class="group flex w-full items-center rounded-md px-2 py-2 text-sm"
                    data-theme="light">
                    <div class="icon-container mr-2" data-icon="sun-icon"></div>
                    Claro
                </button>
                <button
                    class="group flex w-full items-center rounded-md px-2 py-2 text-sm"
                    data-theme="dark">
                    <div
                        class="icon-container mr-2"
                        data-icon="moon-icon"></div>
                    Oscuro
                </button>
                <button
                    class="group flex w-full items-center rounded-md px-2 py-2 text-sm"
                    data-theme="system">
                    <div
                        class="icon-container mr-2"
                        data-icon="monitor-icon"></div>
                    Automático
                </button>
            </div>
        </div>
    </div>
</div>
