{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "quoteProps": "consistent",
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "never",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "printWidth": 80,
    "goTemplateBracketSpacing": true,
    "experimentalTernaries": true,
    "plugins": ["prettier-plugin-go-template"],
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "babel",
                "singleQuote": false,
                "quoteProps": "consistent",
                "jsxSingleQuote": false
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        },
        {
            "files": ["*.md", "*.yaml"],
            "options": {
                "tabWidth": 2,
                "singleQuote": false
            }
        },
        {
            "files": ["*.json"],
            "options": {
                "tabWidth": 4
            }
        },
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
