<footer>
    <div
        class="divide-gray-200 text-sm font-medium leading-5 dark:divide-gray-700 xl:col-start-1 xl:row-start-2 xl:divide-y">
        {{- partial "main/tags.html" . -}}
        {{- partial "main/related-posts.html" . -}}
    </div>
    <div class="pt-4 xl:pt-8">
        <a
            href="/{{ .Section }}"
            class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
            aria-label="Regresar">
            &larr; Regresar
        </a>
    </div>
</footer>
