{{ define "main" }}
    <section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <div class="pb-6 pt-6"></div>
        <div class="flex sm:space-x-24">
            {{- partial "main/sidebar.html" . -}}
            <div>
                <ul>
                    {{ range .Paginator.Pages }}
                        <li class="py-5">
                            {{- partial "main/article.html" . -}}
                        </li>
                    {{ end }}
                </ul>
                {{ partial "main/pagination.html" . }}
            </div>
        </div>
    </section>
{{ end }}
