{{ define "main" }}
    <section class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <div class="flex flex-col justify-between font-sans">
            {{- partial "components/scroll-buttons.html" . -}}
            <article>
                <div
                    class="xl:divide-y xl:divide-gray-200 xl:dark:divide-gray-700">
                    {{- partial "main/page-title.html" . -}}
                    <div
                        class="grid-rows-[auto_1fr] divide-y divide-gray-200 pb-8 dark:divide-gray-700 xl:grid xl:grid-cols-4 xl:gap-x-6 xl:divide-y-0">
                        {{- partial "main/author.html" . -}}
                        <div
                            class="divide-y divide-gray-200 dark:divide-gray-700 xl:col-span-3 xl:row-span-2 xl:pb-0">
                            <div
                                class="prose max-w-none pb-8 pt-10 dark:prose-invert">
                                {{ .Content }}
                            </div>
                            <div
                                class="pb-6 pt-6 text-sm text-gray-700 dark:text-gray-300">
                                {{- if .Site.Params.editPage -}}
                                    <a
                                        href="{{ .Site.Params.docsRepo }}/blob/master/content/{{ replace .File.Path "\\" "/" }}"
                                        rel="nofollow">
                                        Editar en GitHub
                                    </a>
                                {{ end }}
                            </div>
                            {{ if .Site.Params.comments }}
                                <div
                                    class="pb-6 pt-6 text-center text-gray-700 dark:text-gray-300">
                                    <button id="load-comments-button">
                                        Cargar comentarios
                                    </button>
                                    <div id="comments-container"></div>
                                </div>
                            {{ end }}
                        </div>
                        {{- partial "main/article-navigation.html" . -}}
                    </div>
                </div>
            </article>
        </div>
    </section>
{{ end }}
