<footer>
  <div class="mt-16 flex flex-col items-center">
    <div class="mb-3 flex space-x-4">
      {{ range .Site.Menus.social -}}
      <a 
        href="{{ .URL | relURL }}" 
        class="text-sm text-gray-500 transition hover:text-gray-600"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">
          {{ .Name | safeHTML }}
        </span>
        {{ .Pre | safeHTML }}
      </a>
      {{ end -}}
    </div>
    <div class="mb-2 flex space-x-2 text-sm text-gray-500 dark:text-gray-400">
      <div>{{ .Site.Params.schemaAuthor }}</div>
      <div> • </div>
      <div>&copy; {{ now.Year }}</div>
      <div> • </div>
      <a href="{{- .Site.BaseURL -}}" class="text-gray-500 dark:text-gray-400">{{ .Site.Title }}</a>
    </div>
    <div class="mb-8 text-sm text-gray-500 dark:text-gray-400">
      <a href="{{- .Site.BaseURL -}}">
        Dumb Ways to Write
      </a>
    </div>
  </div>
</footer>
