<header class="flex items-center justify-between py-10">
    <div>
        <a href="{{ .Site.BaseURL }}" aria-label="{{ .Site.Params.Title }}">
            <div class="flex items-center justify-between">
                <div class="mr-3">{{ partial "svgs/star" . }}</div>
                <div class="hidden text-2xl font-semibold sm:block">
                    {{ .Site.Params.Title }}
                </div>
            </div>
        </a>
    </div>
    <div class="flex items-center space-x-4 leading-5 sm:space-x-6">
        {{ range .Site.Menus.main }}
            {{ if ne .URL "/" }}
                <a
                    href="{{ absURL .URL }}"
                    class="hidden font-medium text-gray-900 dark:text-gray-100 sm:block">
                    {{ .Name }}
                </a>
            {{ end }}
        {{ end }}
        {{ partial "components/search-button.html" . }}
        {{ partial "components/theme-switch.html" . }}
        {{ partial
            "components/mobile-nav.html" .
        }}
    </div>
</header>
