{{ define "main" }}
<div class="bg-gray-800 min-h-screen flex items-center justify-center">
    <div class="container max-w-1440 bg-gray-700 rounded-lg p-6 flex">
      <div class="mx-6">
        <h1 class="text-white text-2xl font-bold mb-4">Busca las <span class="text-purple-500">páginas</span> que realmente te interesan.</h1>
        <p class="text-white text-base opacity-75">Internet tiene muchísimas herramientas. Muchas de ellas, desconoces. Encuéntralas y utílizalas en tus propios proyectos.</p>
        <div class="flex mt-4">
          <div class="mx-6">
            <h2 class="text-white text-lg font-medium">10k+</h2>
            <p class="text-white text-xs opacity-60">ENLACES</p>
          </div>
          <div class="mx-6">
            <h2 class="text-white text-lg font-medium">1</h2>
            <p class="text-white text-xs opacity-60">CONTRIBUIDOR</p>
          </div>
          <div class="mx-6">
            <h2 class="text-white text-lg font-medium">X</h2>
            <p class="text-white text-xs opacity-60">VISITAS</p>
          </div>
        </div>
      </div>
      <img src="https://i.imgur.com/adiHcLl.png" class="rounded-l-lg">
    </div>
  </div>
{{ end }}